<h1>Categories</h1>

<% @categories.each do |category| %>
<h3>
  <%= link_to category.name, category_articles_path(category), remote: true, id: 'show_form_link' %><br>
</h3>
<% end %>
</ul>

<h3 id="goal-2">Goal 1: Display category information on the current page (on the click of a category)</h3>